:root {
    --CARD-WIDTH: 100px;
    --CARD-HEIGHT: 100px;
}

.game-board {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin: 50px;
}

.card {
    width: var(--CARD-WIDTH);
    height: var(--CARD-HEIGHT);
    position: relative;
    cursor: pointer;
}

.card-inner {
    width: var(--CARD-WIDTH);
    transform-style: preserve-3d;
    transition: transform 0.3s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    backface-visibility: hidden;
    width: var(--CARD-WIDTH);
    height: var(--CARD-HEIGHT);
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.card-front {
    background: white;
}

.card-back {
    transform: rotateY(180deg);
}

.card-back img {
    width: var(--CARD-WIDTH);
    height: var(--CARD-HEIGHT);
    object-fit: fill;
}
